/*Universal element for entire document, providing box-sizing, padding, and margin
values.*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The body element determines the color of the background for
the entire page.*/
body {
    background-color: #d9dcd6;
}

/* The header element determines the font-family, font-color, background-color,
and the padding for the header.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*This provides the type of display and font-size for the h1 header.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This provides different color for the seo portion of the header.*/
.header h1 .seo {
    color: #d9dcd6;
}

/*This provides padding, margins, location, font-size, and font-family
for the header navigation bar.*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This provides the list-style-type for the header unordered list, showing no item 
marker.*/
.header nav ul {
    list-style-type: none;
}

/*provides the display type, and left margin for the unordered list in the
navigation section of the header, and to display the list items horizontally,
instead of vertically.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Shows the text color and declares no text-decoration for the anchor elements.*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Shows a font-size of 16 pixels is selected for the text in the paragraph element.*/
p {
    font-size: 16px;
}

/*Selects the height, width, margins, and the background elements of
the hero figure.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Causes the image to float to the left of the paragraph text.*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Causes the image will float to the right of the paragraph text.*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Determines the width, display, and left margin of the content element.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/*Selects the margin, padding, height, font, background, and
text color for the text in the heading class.*/
.heading {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Selects the maximum height for the images in the heading class.*/
.heading img {
    max-height: 200px;
}

/*Selects the heading margins and font-size for the header 2 text.*/
.heading h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Selects the margin, padding, float, size, font-family, and background
color for the aside class.*/
.benefit {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Formats the margin, text, and text-color for the benefits class.*/
.benefit article {
    margin-bottom: 10px;
    text-align: center;
    margin-bottom:32px;
    color: #ffffff;
}

/*Formats the display, margins, and size of the benefits class images.*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*Formats the padding for the footer class, the font-family, and that the footer
stretches to the element dimensions.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Gives the footer header a font-size of 20 pixels.*/
.footer h2 {
    font-size: 20px;
}
