/*Universal element for entire document*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body element, determines the color of the background for
the entire page*/
body {
    background-color: #d9dcd6;
}

/* header element determines the text style, color, background-color,
and the padding for the header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*provides the type of display and font-size for the header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*provides different color for the seo portion of the header*/
.header h1 .seo {
    color: #d9dcd6;
}

/*provides padding, margins, location, font-size, and font-family
for the navigation bar*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*provides the list-style-type for the header, showing no item marker*/
.header nav ul {
    list-style-type: none;
}

/*provides the display type, and left margin for the unorder list in the
navigation section of the header*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* shows the color and declares no text-decoration for the anchor elements*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* shows the font-size of 16 pixels for the paragraphs*/
p {
    font-size: 16px;
}

/* determines the height, width, margins, and the background elements of
the hero figure*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* shows that the image will float to the left of the paragraph text*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*shows that the image will float to the right of the paragraph text*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*determines the width, display, and left margin of the content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* determines the margin, padding, heigh, font, background, and
text color for the text in the heading class*/
.heading {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* determines the maximum height for the images in the heading class*/
.heading img {
    max-height: 200px;
}

/*determines the heading margins and font-size for the header 2 text*/
.heading h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*determines the margin, padding, float, size, font-family, and background
color for the aside class*/
.benefit {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*determines the margin, text, and text-color for the benefits class*/
.benefit article {
    margin-bottom: 10px;
    text-align: center;
    margin-bottom:32px;
    color: #ffffff;
}

/*formats the display, margins, and size of the benefits class images*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*determines the padding for the footer class, the font-family, and that the footer
stretches to the element dimensions*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*gives the footer header a font-size of 20 pixels*/
.footer h2 {
    font-size: 20px;
}
